body, header, footer, div, h1, h2, ul, li {
	margin=0;
	padding=0;
}

header{
	
	background-color:#008500;
	color:#ffffff;
	}
nav, ul , li{
	
	text-decoration:none;
	color:#000000;
	margin:100px;
	background:#ffffff;font-family:Arial;margin:0 auto;position:absolute;top:0;width:100%;z-index:6;
	font-size:0;padding:0;text-align:right;
	display:inline-block;zoom:1;*display:inline;
	font-size:14px;font-weight:bold;position:relative;
	text-align:center;text-transform:uppercase;
		-o-transition:.2s background;
		-ms-transition:.2s background;
		-moz-transition:.2s background;
		-webkit-transition:.2s background;

}

a {
	display: inline-block;
zoom: 1;
font-size: 14px;
font-weight: bold;
position: relative;
text-align: center;
text-transform: uppercase;
}



.activo{
	font-weight:bold;
	}
	
.par {
	background-color:#5ACC5A;
}

.impar {
	background-color:#90EE90;
}

#menu {

	text-decoration: none;
     text-align: center;
     background: #D8D8D8;
     padding: 15px 15px 15px 15px;
     color: #777;
     font-size: 14px;
     border-radius: 10px 10px;
     box-shadow: 2px 2px 2px 1px white;
}

.link {

	text-decoration: none;
     text-align: center;
     background: #D8D8D8;
     padding: 15px 15px 15px 15px;
     color: #777;
     font-size: 14px;
     border-radius: 10px 10px;
     box-shadow: 2px 2px 2px 1px white;
}