<! DOCTYPE>
<html lang='es'>

<head>
	<meta charset='utf-8'>
	<title>Pruebas para agenvida - {% block titulo %}{% endblock %}</title>
	<link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
	<link rel='shortcut icon' href='{{STATIC_URL}}img/av.png'>
	<style>
	{% block style_css %}{% endblock %}
	</style>
	<script src='{{STATIC_URL}}js/demo.js/jquery-1.10.1.min.js'></script>
	<script src='{{STATIC_URL}}js/demo.js/demo.js'></script>
</head>
<body>
	<header>
		{% block encabezado %}{% endblock %}
	
	<nav>
		<ul>
			<li> <a href='/'>Inicio</a>
			<li> <a href='/usuarios'>Usuarios</a>
			<li> <a href='/historial'>Historias</a>
			<li> <a href='/sobre'>Sobre</a>
			<li> <a href='/contacto'>Contactenos</a>
			<li> <a href='/comentario'>Hacer Comentario</a>
			<li> <a href='/historial/nuevo/'>Nuevo Historial</a>
			<li> <a href='/usuario/nuevo/'>Nuevo Usuario</a>
		   	<li> <a href='/ingresar'>ingresar</a>
		   	<li> <a href='/cerrar/'>Cerrar Sesion</a>
			
		</ul>
	</nav>
<hr>
	</header>
	
	<section class='contenido'>
		{% block contenido %} {% endblock %}
	</section>
	<footer>
		<p>Proyecto 1 de ejemplo para Agenvida </p>
	</footer>

</body>

</html>