{% extends 'base.html' %}

{% block encabezado %}
	<h1>{{historial.ideal_personal| tittle}}</h1>
{% endblock %}


{% block contenido %}
 
 <div id= 'nombre_de_grupo'>
 	<h2>Nombre de Grupo</h2>
 	<p>{{historial.nombre_de_grupo}}</p>
 </div>
 <div id= 'historia'>
 	<h2>Historia</h2>
 	<p>{{historial.historia}}</p>
 </div>
 <div id='referencia'>
 	<img src='{{MEDIA_URL}}{{historial.imagen}}'>
 </div>
 <div id='comentarios'>
 <h2>Comentarios</h2>
 	{% for item in comentarios %}
 		<p> {{item.texto}} </p>
 	{% empty %}
 		<p> Sin comentarios Registrados </p>
 	{% endfor %} 
  </div>
<footer>

<p> Registrado {{historial.tiempo_de_registro| date:'SHORT_DATETIME_FORMAT'}} por {{historial.usuario}}</p>
</footer>

{% endblock %}