{% extends 'base.html' %}

{% comment %} Aqui van los comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block style_css %}
{% endblock %}


{% block contenido %}

	<p>
		Actualmente estan registradas:
		{% with total=historials.count %}
			{{total}} historial{{total|pluralize:"es"}}
		{% endwith %}
	</p>
	
	<ul>
	{% for dato in historials  %}
		<li class="{% cycle 'impar' 'par' %}"> {{dato.ideal_personal}}</li>
		{% empty %}
		<li>No hay historias registradas aun </li>
		{% endfor %}
	</ul>
{% endblock %}