<header>
	<nav>
		<ul>
			<li> <a href='/' > Inicio </a></li>
			<li> <a href='/usuarios' > Usuarios </a></li>
			<li> <a href='/historiales' > Historiales </a></li>
			<li> <a href='/sobre' > Sobre </a></li>
			
		</ul>
	</nav>
</header>
<section>
	<h1> Usuarios</h1>
	<p> Los que usan nuestro app </p>
	<ul>
	{% for dato in usuarios %}
	<li> {{dato.username}}- <em>{{dato.email}}</em>
		<ul>
			{%for hist in historiales%}
			{%if hist.usuario = dato %}
			<li>{{hist}}</li>
			{% endif %}
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
	</ul>
</section>
	